<%- include('partials/header.ejs')%>

<div class="container">

    <!-- <h1 class="mt-4 text-center">Add product</h1> -->
    <!-- <a href="/products">Back</a> -->

  <div class="mt-5">

    <div class="row">

      <div class="card col-sm-12 col-md-6 offset-md-3 col-lg-6 offset-lg-3 shadow rounded bg-secondary">

        <main class="form-signin">
          <form method="POST" action="/products/new">
                  <h3 class="mt-4 mb-4 text-white">Add product</h3>
                  <div class="form-floating">
                      <input name="name" type="text" class="form-control mb-2 mt-2" id="name" placeholder="">
                      <label for="name" class="text-muted"><h5>Enter product name</h5></label>
                      <div id="name"><h6></h6></div>
                  </div>

                  <label for="category" class="mt-2"><h6>Add a category...</h6></label>
                  <select name="category" id="category" class="form-control">
                      <option value="groceries">Groceries</option>
                      <option value="utensils">Utensils</option>
                      <option value="medical">Medical</option>
                      <option value="lifestyle">Lifestyle</option>
                      <option value="toiletries">Toiletries</option>
                  </select>


                  <div class="form-floating">
                      <input name="price" type="number" class="form-control mb-1 mt-4" id="price" placeholder="">
                      <label for="price" class="text-muted"><h5>Enter product price</h5></label>
                      <div id="price"><h6></h6></div>
                  </div>

                  <div class="form-floating">
                      <input name="description" type="text" class="form-control mb-1 mt-4" id="description" placeholder="">
                      <label for="description" class="text-muted"><h5>Enter product description</h5></label>
                      <div id="description"><h6></h6></div>
                  </div>
                  <div class="form-floating">
                      <input name="stock" type="number" class="form-control mb-1 mt-4" id="stock" placeholder="">
                      <label for="stock" class="text-muted"><h5>Amount of product in stock</h5></label>
                      <div id="stock"><h6></h6></div>
                  </div>
        
            <button class="w-100 btn btn-lg btn-primary mt-4 mb-2" type="submit">Add</button>
            <a href="/products" class=" w-100 btn btn-lg btn-primary mt-2 mb-2" type="submit">Back</a>
            <p class="mt-3 mb-2 text-white">&copy; 2017–2021</p>
          </form>
        </main>

      </div>

    </div>

  </div>

</div>

<%- include('partials/footer.ejs')%>